.imageWrapper{
    width: 50%;
    padding-top: 35%;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
    min-width: 15rem;
    min-height: 15rem;
}
.imageWrapper img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}