.petProfileCard {
    margin-right: 15px;
    margin-bottom: 15px;
}

.pet-profile-image{
    padding-top: 100%;
    line-height: 1em;
    background-size: cover;
    background-position: center;
}


.petDetailCardLarge {
    flex: 1;
}

.petProfileImage {
    height: 100%;
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.petDetailsImage {
    height: 100%;
    /* background-size: 1000px auto; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bodyContainer {
    width: 100%;
}

.body {
    width: 200px;
    margin: 0 auto;
    padding: 0;
}

.bodyEdit {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.bi {
    float: right;    
    cursor: pointer;
}